#footer{
    background: #1B1B1B;
    height: 80vh;
    color: white;
}
#footer .container{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: center;
   height: 100%;
}