header#header #nav {
	padding: 1rem;
	color: white;
	background: transparent;
	position: fixed;
	width: 100%;
}
header#header #nav .hamburger-menu {
display: none;
}

header#header nav#nav .logo {
	/* display: flex; */
	float: left;
	margin: 0 1rem;
	font-weight: 900;
	font-size: 2.2rem;
	cursor: pointer;
	margin-top: -1rem;
	/* justify-content: space-around; */
}
header#header nav#nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 0.1em;
	cursor: pointer;
}

header#header nav#nav ul li {
	margin: 0 1.8rem;
}
header#header nav#nav ul li:hover{
	color: grey;
}
header#header {
	background: url('../img/banner.jpg');
	height: 100vh;
	background-size: 100%;
	background-attachment: fixed;
}
header#header .banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    text-align: center;
    color: white;
}
header#header .banner-content .container {
width: 75%;
margin: 0 auto;
}
header#header .banner-content h1{
  font-size: 5rem;
  letter-spacing: 1rem;
  font-weight: 200;
  text-transform: uppercase;
}
header#header .banner-content p{
  font-size: 1rem;
  letter-spacing:2px;
  line-height: 2;
  margin: 1rem 1rem 2rem 1rem;
}
header#header .banner-content a{
text-decoration: none;
    color: #333333;
   
/* text-transform: uppercase; */
background: white;
padding: 1rem 2rem;
transition: .5s ease-in-out;
}
header#header .banner-content a:hover{
background: #333333;
color: white;
}


@media(max-width:800px){
	header#header .banner-content .container {
		width: 85%;
		margin: 0 auto;
		}
	header#header .banner-content h1{
		font-size: 3rem;
		letter-spacing: .8rem;
		font-weight: 200;
		text-transform: uppercase;
	  }
	  header#header .banner-content p{
		font-size: .9rem;
		letter-spacing:1.5px;
		line-height: 1.8;
		margin: 1rem 1rem 2.9rem 1rem;
	  }
	  header#header .banner-content a{
	  text-decoration: none;
		  color: #333333;
	  /* text-transform: uppercase; */
	  background: white;
	  padding: 1rem 2rem;
	  transition: .5s ease-in-out;
	  }
}

@media(max-width:500px){
	header#header .banner-content .container {
		width: 90%;
		margin: 0 auto;
		}
	header#header .banner-content h1{
		font-size: 2rem;
		letter-spacing: .8rem;
		font-weight: 200;
		text-transform: uppercase;
	  }
	  header#header .banner-content p{
		font-size: .9rem;
		letter-spacing:1px;
		line-height: 1.8;
		margin: 3rem .3rem ;
	  }
	  header#header .banner-content a{
	  text-decoration: none;
		  color: #333333;
	  /* text-transform: uppercase; */
	  background: white;
	  padding: .5rem 1rem;
	  transition: .5s ease-in-out;
	  }
}
