#menu{
    margin: 6rem auto;
    color: #333333;
}
#menu .container .heading{
    text-align: center;

}
#menu .heading h5{
    font-weight: 100;
    text-transform: uppercase;
    margin: 1rem;
 
}
#menu .heading h1{
    font-size: 2.4rem;
	letter-spacing: 0.5rem;
    /* margin: 0rem auto; */
	text-transform: uppercase;
}
#menu .container .heading p {
    width: 50%;
    line-height: 1.5;
	margin: 1rem auto 2rem auto;
}
#menu .container .menu-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    grid-gap: 4rem;
}
#menu .container .menu-list h1{
   
    text-align: left;
}
#menu .container .menu-list h4{
   text-transform: uppercase;
font-weight: 300;
letter-spacing: 1.5px;
font-size: .8rem;
border-bottom: 1px solid #333333;
}
#menu .container .menu-list p{
  color: rgb(191, 194, 199);
font-weight: 200;
margin: .5rem 0;
}
#menu .container .menu-list .item{
   
  margin-top: 3rem;
}
#menu .container .menu-list .item-name{
   
  display: flex;
  justify-content: space-between;
}


@media (max-width: 800px) {
	#menu .heading h1 {
		font-size: 2.4rem;
		letter-spacing: 0.5rem;
		/* margin: 0rem auto; */
		text-transform: uppercase;
	}
	#menu .container .heading p {
		width: 100%;
		line-height: 1.5;
		margin: 1rem auto 2rem auto;
	}
	#menu .container .menu-list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		text-align: left;
		grid-gap: 3rem;
	}
	#menu .container .menu-list h1 {
		text-align: left;
	}
	#menu .container .menu-list h4 {
		text-transform: uppercase;
		font-weight: 300;
		letter-spacing: 1.5px;
		font-size: 0.7rem;
		border-bottom: 1px solid #333333;
	}
	#menu .container .menu-list p {
		font-size: 0.8rem;
		color: rgb(191, 194, 199);
		font-weight: 200;
		margin: 0.5rem 0;
	}
	#menu .container .menu-list .item {
		margin-top: 3rem;
	}
	#menu .container .menu-list .item-name {
		display: flex;
		justify-content: space-between;
	}
}

@media (max-width: 500px) {
	#menu .container .heading {
		text-align: left;
	}

	#menu .container .menu-list {
		display: block;
		padding: 1rem;
	}
}


   

